@charset "utf-8";
/*한글 폰트 - 세방고딕*/
@font-face{
    font-family : text-kr;
    src: url("../fonts/SEBANG Gothic.ttf");
}
/*영어 폰트 - Mate SC*/
@font-face{
    font-family : text-en;
    src: url("../fonts/MateSC-Regular.ttf");
}
/* 공통 */
*{margin:0; padding:0; box-sizing:border-box;}
img{display:block; max-width:100%;}
a{text-decoration:none; color:inherit;}
ul,ol{list-style:none;}
body{font-size: 16px; font-family : text-kr; line-height: 1.2; background-color: #fffbfc;}
.en{font-family: text-en; font-weight: bold;}

/* header */
header{}

/* 상단 gnb */
.gnb{width:90%; display:flex; justify-content:space-between; margin:auto;}
.gnb ul{max-width:100%; display:flex; margin-top:30px; font-size:13px;}
.gnb ul:first-child li{margin-left:20px;}
.gnb ul:last-child li{margin-right:20px;}

/* 상단 h1 */
h1{text-align:center;}
h1 img{display:inline-block;}

/* 상단 검색창 */
.search{width:90%; margin:auto;}
.search::after{content:""; clear:both; display:block;}
form{float:right;}
.search input{line-height:30px; border:2px solid #ddd; border-radius:5px;}
.search button{border:none; background:white;
  transform:translate(-27px,8px);}

/* 상단 topMenu */
.topMenu{}
.topMenu>ul{display:flex; margin-top:40px; justify-content:space-around; text-align:center; line-height:50px;}
.topMenu>ul li{margin-top:10px;}
.topMenu>ul>li{position:relative; width:100%; border-bottom:1px solid #eee;}
.topMenu>ul>li:hover>a{color:#c80029; font-weight:bold;}
.topMenu>ul>li>ul{position:absolute; width:100%; font-size:0.9rem;
  z-index:2; display:none;}
#menuBg {position:absolute; width:100%; height:200px;
  background:white; border-bottom:1px solid #eee;
  box-shadow: 1px 1px 5px rgba(66, 68, 72, 0.3); display:none;
  z-index:1;}
.topMenu>ul>li>ul>li:hover>a{color:#c80029; font-weight:bold;}

/* 메인1 fadeout */
.main1{max-width:80%; margin:auto;}
.fadeout{position:relative; overflow:hidden; margin:auto;}
.fadeout a:not(:first-child){position:absolute; top:0;}

/* 메인2 NEW */
.main2{margin-top:200px; background:url("../images/twosomebg1.png") no-repeat;}
.main2 h2{text-align:center; font-weight:bold;}
.main2>p{text-align:center; line-height:90px; color:#424448;}
.main2 .newmenu{display:flex; justify-content:space-around;
  padding-bottom:20px; padding-top:80px;}
.newmenu p{text-align:center; line-height:90px; font-weight:bold; color:#424448; font-size:0.9rem;}
.newmenu div a img{border-radius:10px;}

/* 메인2 이미지 호버*/
.newmenu>div>a img {transition:0.5s;}
.newmenu>div>a:hover img {transform:scale(1.2);}

/* 메인3 PRODUCT */
.main3{margin-top:200px; background:url("../images/twosomebg2.png");
  background-size:100%;
  background-position: center center;
  background-repeat: no-repeat;}
.main3 h2{text-align:center; font-weight:bold;}
.main3>p{text-align:center; line-height:90px; color:#424448;}
.main3 .product{display:flex; justify-content:space-around; padding-top:80px;}
.product div{position:relative;}
.product h3{position:absolute; left:20px; top:20px; font-size:1.3rem; font-weight:bold; color::#424448;}
.product div>span{position:absolute; right:10px; bottom:10px; color:white; font-size:40px;}
.product div>img{border-radius:10px;}

/* 메인3 이미지 호버 */
.main3>div>div{width:300px; position:relative; overflow:hidden; border-radius:10px;}
.product>div img {transition:0.5s;}
.product>div:hover img {transform:scale(1.2);}

/*footer*/
footer{background-color:#424448; color:white; margin-top:200px; font-family: 'Noto Sans KR', sans-serif;}

footer a:hover{color:#f8efa3;}
.footer-width{width:100%; margin: 0 auto;}

/*footer .top*/
.footer-top{text-align: center; padding: 20px;}
.footer-top ul{font-size: 0;}
.footer-top li{display: inline-block; font-size: 12px; margin-right: 30px;}
.footer-top li:last-child{margin-right: 0;}

/*footer .logo*/
.footer-logo{text-align: center; padding: 20px 0 0; margin: 0 auto;}

/*footer .middle*/
.bottom-middle{padding: 20px 0; margin: 0 auto;}
.bottom-middle ul{font-size: 0; text-align: center; width:100%;}
.bottom-middle ul li{font-size: 12px; display: inline-block; width: calc(100% / 3);}
.bottom-middle ul li:last-child{margin-right: 0;}

/*footer .bottom*/
.footer-bottom{padding: 20px 0; margin: 0 auto; line-height: 23px; display:flex; justify-content:space-around;}
.footer-bottom li{display: block; font-size: 12px;}
.bottom-left .address li{line-height: 20px;}
.bottom-left .cc li{line-height: 20px;}
.bottom-left .cc{margin-top: 30px;}
.bottom-left .cc .tel,.bottom-left .cc .fax{display: inline-block;}

/*footer .icon*/
.footer-icon img{width: 20px;}
.footer-icon img{display: block; margin: 10px auto 20px;}

/*footer .copy*/
.bottom-copy{padding: 20px 0; font-size: 12px; text-align: center;}

/*footer hr*/
footer hr{border-color: #666; width: 100%;}


/* ********** */
/* 반응형 모바일 */
@media(max-width:800px) {
  .gnb{display: none;}
  .logo img{margin-top:30px;}
  .search{display:none;}
  .topMenu{font-size:0.7rem;}
  .topMenu>ul>li>ul{font-size:0.7rem;}
  .main1{max-width:100%;}
  .main2{margin-top:100px;}
  .main2 h2,p{font-size:0.8rem;}
  .main2 .newmenu{flex-wrap:wrap;}
  .newmenu p{font-size:0.7rem;}
  .newmenu div a img{max-width:90%; margin:auto;}
  .main3{margin-top:100px;}
  .main3 h2,p{font-size:0.8rem;}
  .main3 .product{flex-direction:column;}
  .product .pm1,.pm2,.pm3{margin:auto; margin-bottom:20px;}
  .main3>div>div{width:200px;}
  .product h3{font-size:0.9rem;}
  .product div>span{font-size:20px;}
  footer{font-size:0.5rem; margin-top:100px;}
  .footer-top,.bottom-middle,.footer-bottom{display:none;}
  .footer-logo{line-height:70px;}
}
